<div class="entry info">
    <h3><a href="{{ url('entry', pool|id, entry|id) }}">This Entry</a></h3>
    <ul>
        <li class="active indicator {% if entry.active %}positive{% else %}negative{% endif %}">
            {% if entry.active %}
                Still alive
            {% else %}
                Out of the running
            {% endif %}
        </li>
        {% if pool.entry_fee %}
            <li class="paid indicator {% if entry.paid %}positive{% else %}negative{% endif %}">
                {% if entry.paid %}
                    Paid up
                {% else %}
                    ${{ pool.entry_fee|floatformat('-2') }} overdue
                {% endif %}
            </li>
        {% endif %}
    </ul>
</div>

<div class="pool info">
    <h3><a href="{{ url('pool', pool|id) }}">This Pool</a></h3>
    {% set entries = pool.entries.count() %}
    {% set active_entries = pool.active_entries.count() %}
    {% set paid_entries = pool.paid_entries.count() %}
    <ul>
        <li>Manager: {{ pool.manager }}</li>
        <li>Picking <strong>{% if pool.against_spread %}against the spread{% else %}straight up{% endif %}</strong></li>
        <li>{{ entries }} entr{{ entries|pluralize('y,ies') }}</li>
        <li>{{ active_entries }} active entr{{ active_entries|pluralize('y,ies') }}</li>
        {% if pool.entry_fee %}
            <li>{{ paid_entries }} paid entr{{ paid_entries|pluralize('y,ies') }}</li>
            <li>Pot: ${{ pool.pot|floatformat('-2') }} of ${{ pool.potential_pot|floatformat('-2') }}</li>
        {% else %}
            <li>No money</li>
        {% endif %}
    </ul>
</div>