<div class="entry info">
    <h3><a href="{{ url('entry', pool|id, entry|id) }}">This Entry</a></h3>
    <ul>
        <li class="active {% if entry.active %}good{% else %}bad{% endif %}">
            {% if entry.active %}
                Still alive
            {% else %}
                Out of the running
            {% endif %}
        </li>
        {% if pool.entry_fee %}
            <li class="paid {% if entry.paid %}good{% else %}bad{% endif %}">
                {% if entry.paid %}
                    Paid up
                {% else %}
                    ${{ pool.entry_fee }} overdue
                {% endif %}
            </li>
        {% endif %}
    </ul>
</div>

<div class="pool info">
    <h3><a href="{{ url('pool', pool|id) }}">This Pool</a></h3>
    <ul>
        <li>Manager: {{ pool.manager }}</li>
        <li>{{ pool.entries.count() }} entries</li>
        <li>{{ pool.active_entries.count() }} active entries</li>
        <li>{{ pool.paid_entries.count() }} paid entries</li>
        <li>Pot: ${{ pool.pot }} of ${{ pool.potential_pot }}</li>
    </ul>
</div>