<section id="pool-overview">
    <h3>Currently Picking <strong>{{ week }}</strong></h3>
    <p {% if week.start is close %}class="countdown"{% endif %}>Deadline: {{ week.start|timeuntil }}.</p>

    <h3>Overview</h3>
    <ul>
        <li>
            {% if pool.invite_only %}
                Invitation Only
            {% else %}
                Open to anyone
            {% endif %}
        </li>
        <li>
            Picking
            {% if pool.against_spread %}
                against the spread
            {% else %}
                straight up (no spread)
            {% endif %}
        <li>{{ entries|length }} player{{ entries|pluralize }}</li>
        {% if pool.entry_fee %}
            <li>${{ pool.entry_fee|floatformat('-2') }} entry fee</li>
            <li>${{ pool.potential_pot|floatformat('-2') }} pot</a>
            {% if unpaid_entries %}
                <li>{{ unpaid_entries|length }} unpaid entr{{ unpaid_entries|pluralize('y,ies') }}</li>
            {% endif %}
        {% else %}
            <li>No entry fee</li>
        {% endif %}
    </ul>
</section>
