<ol class="weeks">
    {% for week in weeks %}
        {% set is_current = 'current' if week|id == current_week|id else '' %}
        {% set is_closed = 'closed' if week.closed else '' %}
        {% set week_pick = entry.find_pick_for(week) %}
        {% set has_picked = 'picked' if week_pick else '' %}
        {% if pick %}
            {% set is_correct = 'correct' if pick.evaluate() == True else ('incorrect' if pick.evaluate() == False else '') %}
        {% else %}
            {% set is_correct = '' %}
        {% endif %}
        <li class="week {{ is_closed }} {{ is_current }} {{ has_picked }} {{ is_correct }}">
            <span class="indicator {{ has_picked }} {{ is_correct }}">
                {# A check or an X #}
                {% if has_picked %}&#10003;{% else %}&#10008;{% endif %}
            </span>
            <a href="{{ url('pick', pool|id, entry|id, week|id) }}">{{ week }}</a>
            {% if has_picked %}
                <span class="pick">&#8594; {{ week_pick.team.name }}</span>
            {% else %}
                <span class="deadline {{ is_closed }}">
                    {% if week.closed %}
                        closed
                    {% else %}
                        due {{ week.start|dateformat('%m/%d @ %I:%M') }}
                    {% endif %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ol>
