<ol class="weeks">
    {% for week in weeks %}
        {% set is_current = 'current' if week|id == current_week|id else '' %}
        {% set is_closed = 'closed' if week.closed else '' %}
        {% set week_pick = entry.find_pick_for(week) %}
        {% set has_picked = 'picked' if week_pick else '' %}
        {% set indicator = 'indicator ' + ('positive' if has_picked else 'negative') %}
        {% if pick %}
            {% set pick_evaluation = pick.evaluate() %}
            {% set pick_result = 'correct' if pick_evaluation == True else ('incorrect' if pick_evaluation == False else 'pending') %}            
        {% else %}
            {% set pick_result = 'pending' %}
        {% endif %}
        <li class="week {{ indicator }} {{ is_closed }} {{ is_current }} {{ has_picked }} {{ pick_result }}">
            <a href="{{ url('pick', pool|id, entry|id, week|id) }}">{{ week }}</a>
            {% if has_picked %}
                <span class="pick">&#8594; {{ week_pick.team.name }}</span>
            {% else %}
                <span class="deadline {{ is_closed }}">
                    {% if week.closed %}
                        closed
                    {% else %}
                        due {{ week.start|date('%m/%d @ %I:%M') }}
                    {% endif %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ol>
