{% extends "base.html" %}

{% block content %}
    <h2>Dashboard</h2>
    
    <p>Welcome back.</p>
    
    {% if pools %}
        <h3>Your Pools</h3>
        <p>You're managing {{ pools|length }} pools.</p>

        <ul>
            {% for pool in pools %}
                <li>
                    <a href="{{ url('pool', pool.key().id()) }}">{{ pool }}</a>
                    (<a href="{{ url('manage-pool', pool.key().id()) }}">Manage</a>)
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Your Entries</h3>
    <p>You've got {{ entries|length }} entries.</p>
    <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ url('entry', entry.parent().key().id(), entry.key().id()) }}">{{ entry.parent() }}</a>
                {% if not entry.has_picked(slate) %}
                    Pick due by {{ slate.start }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <h3>New Pool</h3>
    <p>Create a new pool.</p>
    <form action="{{ url('pools') }}" method="post">
        {{ form.as_p()|safe }}
        <input type="submit" value="Create Pool">
    </form>
{% endblock %}