{% extends "2columns.html" %}

{% block page_header %}
    <h1>Dashboard</h1>
{% endblock %}

{% block left %}
    <h2>Welcome{% if entries or pools %} back{% endif %}, {{ request.account.first_name }}.</h2>

    <section id="your-entries">
        <h3>Your Entries</h3>
        <ul>
            {% for entry in entries %}
                {% set pool = entry.parent() %}
                {% set pick = entry.find_pick_for_week(week) %}
                {% set active_entries = pool.active_entries.count() %}
                <li>
                    <h4><a href="{{ uri_for('entry', pool|id, entry|id) }}">{{ pool }}</a></h4>
                    {% if pick %}
                        <p class="indicator positive pending meta">
                            {{ pick }} picked for <a href="{{ uri_for('pick', pool|id, entry|id, week|id) }}">{{ week }}</a>
                        </p>
                    {% else %}
                        <p class="indicator negative pending meta">
                            Pick due in {{ week.start|timeuntil }} for <a href="{{ uri_for('pick', pool|id, entry|id, week|id) }}">{{ week }}</a>
                        </p>
                    {% endif %}
                    {% if pool.entry_fee %}
                        <p class="meta money indicator positive">
                            ${{ pool.pot|floatformat('-00') }} pot
                        </p>
                    {% endif %}
                    <p class="meta">{{ active_entries }} player{{ active_entries|pluralize }} still playing</p>
                </li>
            {% else %}
                <p>You're not participating in any pools. Why don't you start a new one
                by filling out the form to the right?</p>
            {% endfor %}
        </ul>
    </section>

    {% if pools %}
        <h3>Your Pools</h3>
        <p>You're managing {{ pools|length }} pools.</p>

        <ul>
            {% for pool in pools %}
                <li>
                    <a href="{{ uri_for('pool', pool|id) }}">{{ pool }}</a>
                    (<a href="{{ uri_for('manage-pool', pool|id) }}">Manage</a>)
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block right %}
    <h3>New Pool</h3>
    {% include 'pools/_new_pool_form.html' %}
{% endblock %}