{% extends "base.html" %}

{% block content %}
    <h1>My Entry in {{ pool }}</h1>
    <h2>
        {% if entry.active %}
            Still Alive!
        {% else %}
            Dunzo.
        {% endif %}
    </h2>
    
    {% for week in weeks %}
        <div class="week picks{% if week.started %} started{% endif %}{% if week == current_week %} current{% endif %}">
            <h3>{{ week }}</h3>
            <h4>
                {% if week.started %}
                    Finished.
                {% else %}
                    Deadline: {{ week.start }}
                {% endif %}
            </h4>
            {% for date, group in week.grouped_games %}
                <div class="games group date">
                    <h5>{{ date }}</h5>
                    {% for game in group %}
                        <div class="game">
                            <span class="away team">{{ game.away_team }}</span>
                            at
                            <span class="home team">{{ game.home_team }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}