{% extends "3columns.html" %}

{% block page_header %}
    <h1><label>Pool:</label> {{ pool }}</h1>
{% endblock %}

{% block left %}
    <div class="entry-info">
        <h2>This Entry</h2>
        <ul>
            <li class="active {% if entry.active %}good{% else %}bad{% endif %}">
                {% if entry.active %}
                    Still alive
                {% else %}
                    Out of the running
                {% endif %}
            </li>
            {% if pool.buy_in %}
                <li class="paid {% if entry.paid %}good{% else %}bad{% endif %}">
                    {% if entry.paid %}
                        Paid up
                    {% else %}
                        ${{ pool.buy_in }} overdue
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
    
    <div class="pool info">
        <h2>This Pool</h2>
        <ul>
            <li>{{ pool.entries.count() }} entries</li>
            <li>{{ pool.active_entries.count() }} active entries</li>
            <li>{{ pool.paid_entries.count() }} paid entries</li>
            <li>Pot: ${{ pool.pot }} of ${{ pool.potential_pot }}</li>
        </ul>
    </div>
{% endblock %}

{% block middle %}
    <div id="current-week" class="week">
        <h2><span>Picking:</span> {{ week }}</h2>
        <h3>
            {% if week.started %}
                Finished.
            {% else %}
                Deadline: {{ week.start|dateformat('%A, %B %d at %H:%M') }}
            {% endif %}
        </h3>
        <form action="./picks/{{ week|id }}" method="put">
            <table class="games">
                {% set last_kickoff = None %}
                {% for date, group in week.grouped_games %}
                    <th class="date" colspan="5">{{ date|dateformat('%A, %B %d') }}</th>
                    {% for game in group %}
                        <tr>
                            <td class="kickoff">
                                {% if not last_kickoff or last_kickoff != game.start %}
                                    {{ game.start|dateformat('%H:%M') }}
                                    {% set last_kickoff = game.start %}
                                {% endif %}
                            </td>
                            <td class="away team">
                                <label>
                                    <input type="radio" name="pick" value="{{ game.away_team|keyname }}">
                                    {{ game.away_team }}
                                </label>
                            </td>
                            <td class="away spread">{{ (game.spread * -1)|default('--', True) }}</td>
                            <td class="at">at</td>
                            <td class="home team">
                                <label>
                                    <input type="radio" name="pick" value="{{ game.home_team|keyname }}">
                                    {{ game.home_team }}
                                </label>
                            </td>
                            <td class="home spread">{{ game.spread|default('--', True) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}

{% block right %}
    <div id="other-weeks">
        <h3>Other Weeks</h3>
        <ol>
            {% for week in weeks %}
                <li class="week {% if week.started %} started{% endif %}{% if week|id == week|id %} current{% endif %}">
                    {{ week }}
                    <span>
                        {% if week.started %}
                            (finished)
                        {% else %}
                            (deadline: {{ week.start|dateformat('%m/%d @ %H:%M') }})
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ol>
{% endblock %}