{% extends "base.html" %}

{% block page_header %}
    <h1><label>Pool:</label> {{ pool }}</h1>
{% endblock %}

{% block content %}
    <div class="entry-info">
        <h2>My Entry</h2>
        <ul>
            <li class="active {% if entry.active %}good{% else %}bad{% endif %}">
                {% if entry.active %}
                    Still alive
                {% else %}
                    Out of the running
                {% endif %}
            </li>
            {% if pool.buy_in %}
                <li class="paid {% if entry.paid %}good{% else %}bad{% endif %}">
                    {% if entry.paid %}
                        Paid up
                    {% else %}
                        ${{ pool.buy_in }} overdue
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>

    <div id="current-week" class="week">
        <h3>{{ next_week }}</h3>
        <h4>
            {% if next_week.started %}
                Finished.
            {% else %}
                Deadline: {{ next_week.start|dateformat('%A, %B %d at %H:%M') }}
            {% endif %}
        </h4>
        <form action="./picks/{{ next_week|id }}" method="put">
            <table class="games">
                {% set last_kickoff = None %}
                {% for date, group in next_week.grouped_games %}
                    <th class="date" colspan="5">{{ date|dateformat('%A, %B %d') }}</th>
                    {% for game in group %}
                        <tr>
                            <td class="kickoff">
                                {% if not last_kickoff or last_kickoff != game.start %}
                                    {{ game.start|dateformat('%H:%M') }}
                                    {% set last_kickoff = game.start %}
                                {% endif %}
                            </td>
                            <td class="away team">
                                <label>
                                    <input type="radio" name="pick" value="{{ game.away_team|keyname }}">
                                    {{ game.away_team }}
                                </label>
                            </td>
                            <td class="away spread">{{ (game.spread * -1)|default('--', True) }}</td>
                            <td class="at">at</td>
                            <td class="home team">
                                <label>
                                    <input type="radio" name="pick" value="{{ game.home_team|keyname }}">
                                    {{ game.home_team }}
                                </label>
                            </td>
                            <td class="home spread">{{ game.spread|default('--', True) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </form>
    </div>

    <div id="other-weeks">
        {% for week in weeks %}
            <div class="week {% if week.started %} started{% endif %}{% if week|id == next_week|id %} current{% endif %}">
                <h3>
                    {{ week }}
                    <span>
                        {% if week.started %}
                            (finished)
                        {% else %}
                            (deadline: {{ week.start|dateformat('%m/%d @ %H:%M') }})
                        {% endif %}
                    </span>
                </h3>
            </div>
    {% endfor %}
{% endblock %}