{% extends "3columns.html" %}
{% import "macros/games.html" as games %}

{% block head %}
    {{ super() }}
    {% if not week.closed %}
        <script type="text/javascript" charset="utf-8">
            if ((typeof console) == 'undefined')
                var console = { log: function() {} };

            $(document).ready(function() {
                var form = $('#pick');
                form.children('div.submit').hide();
                form.find('input[type="radio"]').change(function() {
                    var self = $(this);
                    $.ajax({
                        url: form.attr('action'),
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function(data, textStatus, xhr) {
                            // Update the form field
                            $('td.picked').removeClass('picked');
                            self.parents('td').addClass('picked');
                            // Update the "your pick" header
                            $('#your-pick span')
                                .addClass('picked')
                                .removeClass('not')
                                .text(data['team']);
                            // Update the current week in the sidebar
                            $('li.week.current')
                                .removeClass('negative')
                                .addClass('picked positive')
                                .find('span.deadline, span.pick').remove().end()
                                .append('<span class="pick">&#8594; ' + data['name']);
                        },
                        error: function() {
                            alert('Error submitting pick');
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block page_header %}
    <h1><label>Pool:</label> <a href="{{ url('pool', pool|id) }}">{{ pool }}</a></h1>
{% endblock %}

{% block left %}
    {% include "pools/_left.html" %}
{% endblock %}

{% block middle %}
    <div id="current-week" class="week">
        <h2>{{ week }} <span>vs {{ pool.active_entries.count() - 1 }} other players</span></h2>

        <p class="deadline{% if week.closed %} closed{% endif %}">
            {% if week.closed %}
                Closed.
            {% else %}
                <span>Deadline:</span> {{ week.start|timeuntil }}
            {% endif %}
        </p>

        <h3 id="your-pick">Your pick: <span class="{{ 'picked' if pick else 'not picked'}}">{{ pick|default('None', True) }}</span></h3>
        
        <form id="pick" action="{{ url('pick', pool|id, entry|id, week|id) }}" method="post">
            {{ games.showgames(week, pick) }}
            <div class="submit">
                <input type="submit" value="Make Pick!">
            </div>
        </form>
    </div>
{% endblock %}

{% block right %}
    <div id="other-weeks">
        <h3>All Picks</h3>
        {% set current_week = week %}
        {% include 'pools/_weeks.html' %}
        
        <div id="key">
            <h4>Key</h4>
            <ul>
                <li class="indicator positive pending">Picked</li>
                <li class="indicator positive correct">Picked correctly</li>
                <li class="indicator negative incorrect">Picked incorrectly</li>
                <li class="indicator negative pending">Not picked</li>
            </ul>
        </div>
    </div>
{% endblock %}