{% extends "3columns.html" %}
{% import "macros/games.html" as games %}

{% block page_header %}
    <h1><label>Pool:</label> {{ pool }}</h1>
{% endblock %}

{% block left %}
    {% include "pools/_left.html" %}
{% endblock %}

{% block middle %}
    <div id="current-week" class="week">
        <h2><span>Picking:</span> {{ week }}</h2>

        {% if entry.has_picked(week) %}
            <h3 class="pick"><span>Your pick:</span> {{ pick }}</h3>
        {% endif %}

        <p class="deadline{% if week.closed %} closed{% endif %}">
            {% if week.closed %}
                Closed.
            {% else %}
                Deadline: {{ week.start|dateformat('%A, %B %d at %I:%M') }}
            {% endif %}
        </p>

        <form action="{{ url('pick', pool|id, entry|id, week|id) }}" method="post">
            {{ games.showgames(week, pick) }}
            <input type="submit" value="Make Pick!">
        </form>
    </div>
{% endblock %}

{% block right %}
    <div id="other-weeks">
        <h3>All Picks</h3>
        {% set current_week = week %}
        {% include 'pools/_weeks.html' %}
{% endblock %}