{% extends "2columns.html" %}

{% block page_header %}
    <h1><label>Pool:</label> {{ pool }}</h1>
{% endblock %}

{% block left %}
    {% if pool.decription %}
        <p>{{ pool.description }}</p>
    {% endif %}

    {% include "pools/_pool_overview.html" %}

    <section id="pool-status">
        <h3>Your Status</h3>
        <ul>
            <li><a href="{{ url('entry', pool|id, entry|id) }}">{{ entry }}</a></li>
            <li class="indicator {{ 'positive' if entry.active else 'negative' }}">
                {% if entry.active %}
                    Still alive
                {% else %}
                    Out of the running
                {% endif %}
            </li>
            <li class="indicator {{ 'positive' if entry.paid else 'negative' }}">
                {% if entry.paid %}
                    Paid up
                {% else %}
                    Unpaid
                {% endif %}
            </li>
        </ul>

    </section>

    <section>
        <h3>Invitation Link</h3>
        {% set invite_url = url('join-pool', pool|id, pool.invite_code, _full=True) %}
        {% if pool.invite_only %}
            <p>You can share the following link with your friends to invite them to join this pool:<br>
            <a href="{{ invite_url }}">{{ invite_url }}</a></p>
        {% else %}
            <p>This is a public pool, open to anyone. Invite your friends to join it by sharing this link:<br>
            <a href="{{ invite_url }}">{{ invite_url }}</a></p>
        {% endif %}
    </section>
{% endblock %}

{% block right %}
    <section>
        <h3>Still Playing</h3>
        <ul>
            {% for entry in active_entries %}
                <li><a href="{{ url('entry', pool.key().id(), entry.key().id()) }}">{{ entry.account }}</a></li>
            {% else %}
                <li>None</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Losers</h3>
        <ul>
            {% for entry in inactive_entries %}
                <li><a href="{{ url('entry', pool.key().id(), entry.key().id()) }}">{{ entry.account }}</a></li>
            {% else %}
                <li>No losers, yet.</li>
            {% endfor %}
    </section>
{% endblock %}