{% extends "base.html" %}

{% block page_header %}
    <h1><label>Pool:</label> {{ pool }}</h1>
{% endblock %}

{% block content %}
    {% if pool.decription %}
        <p>{{ pool.description }}</p>
    {% endif %}
    
    <div class="overview">
        <ul>
            <li>{{ active_entries|length }}/{{ entries|length }} active entries</li>
            <li>Pot: ${{ pool.pot }}/{{ pool.potential_pot }}</li>
            <li>{{ unpaid_entries|length }} unpaid entries</li>
        </ul>
    </div>
    
    <h3>Invitation Code</h3>
    {% set invite_url = url('join-pool', pool|id, pool.invite_code, _full=True) %}
    {% if pool.invite_only %}
        <p>The invitation code for joining this pool is:<br>
        <span class="invite-code">{{ pool.invite_code }}</span></p>

        <p>You can share the following link with your friends to invite them to join this pool:<br>
        <a href="{{ invite_url }}">{{ invite_url }}</a></p>
    {% else %}
        <p>This is a public pool, open to anyone. Invite your friends to join it by sharing this link:<br>
        <a href="{{ invite_url }}">{{ invite_url }}</a></p>
    {% endif %}
    
    <h3>Currently Picking <strong>{{ week }}</strong></h3>
    <p>Deadline: {{ week.start }}.</p>

    <h3>Active Entries</h3>
    <ol>
        {% for entry in active_entries %}
            <li><a href="{{ url('entry', pool.key().id(), entry.key().id()) }}">{{ entry.account }}</a></li>
        {% else %}
            <li>None</li>
        {% endfor %}
    </ol>
{% endblock %}