##############################################################################
# Secrets -- These settings MUST be set in secrets.py, which should not be
# kept in version control.  They should be kept, uh, secret.
##############################################################################

# Used to sign cookies. Generate with something like `os.urandom(30)`
SECRET = None

# Facebook app settings
FB_APP_ID = ''
FB_APP_SECRET = ''

