html {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande";
	font-size: 12px;
	position: relative;
}

a {
	color: #369;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}

div#grid {
    height: 100%;
    width: 100%;
    background: transparent url(/static/img/grid.png) repeat-y top center;
    position: absolute;
    z-index: 1000;
    opacity: 10%;
}

body.columns div.column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
body.two.columns div.left.column,
body.three.columns div.left.column {
    width: 180px;
}

body.two.columns div.right.column {
	width: 480px;
}

body.three.columns div.middle.column {
    width: 480px;
}
body.three.columns div.right.column {
    width: 260px;
    margin-right: 0;
}


.header {
    color: #fff;
    position: relative;
	padding: 10px 20px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

h1, h2, h3, h4, h5 {
    font-family: "Cooper Black", "Lucida Grande";
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

#header {
	color: #fff;
	background-color: #333;
	z-index: 500;
}
#header h1 {
	font-size: 3em;
}
#header h1 a {
	color: #fff;
	text-decoration: none;
	border: none;
}
#header #account {
	font-size: 11px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 0;
	padding: 4px 6px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .75);
}

#page-header {
    background-color: #666;
    padding-top: 8px;
    padding-bottom: 8px;
}
#page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: "Cooper Black", "Lucida Grande";
	font-weight: normal;
}
#page-header h1 label {
    font-size: .85em;
    color: #ccc;
}

div#content {
	color: #333;
    margin: 20px;
}

h2 {
	font-size: 2em;
}

/* Entry pages */
div#current-week {
}
div#current-week h2 {
}
div#current-week h2 span {
	font-size: .75em;
	color: #666;
}
div#current-week p.deadline {
	margin-top: 5px;
}
div#current-week p.deadline span {
	color: #666;
	font-size: 11px;
}

div#current-week h3 {
	padding: 10px;
	margin: 15px 20px 15px 0;
	border: 1px dotted #ccc;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}
div#current-week h3 span.picked {
	border: 1px solid rgba(255, 200, 50, 1);
	background-color: rgba(255, 200, 50, .5);
	padding: 3px 5px;
}
div#current-week h3 span.not.picked {
	border: 1px solid rgba(153, 0, 0, 1);
	background-color: rgba(153, 0, 0, .4);
}

div#current-week table.games th, div#current-week table.games td {
	text-align: left;
	padding: 2px 5px;
}
div#current-week table.games th {
	padding-top: 10px;
}
div#current-week table.games td.team {
}
div#current-week table.games td.spread {
	font-size: 11px;
	color: #999;
}
div#current-week table.games td.kickoff {
	font-size: 11px;
}
div#current-week table.games td.picked {
	border: 1px solid rgba(255, 200, 50, 1);
	background-color: rgba(255, 200, 50, .5);
}


ol.weeks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol.weeks li {
	position: relative;
    display: block;
    padding: 5px;
}
ol.weeks a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #999;
}
ol.weeks li span {
    color: #666;
    font-size: 11px;
}
ol.weeks li.current {
    border: 1px dotted #ccc;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
}
ol.weeks li span.indicator {
	margin-right: 5px;
	cursor: default;
}


.indicator {
	color: #666;
	font-weight: normal;
}
.indicator.picked {
	color: rgba(255, 200, 50, 1);
}
.indicator.correct {
	color: #090;
}
.indicator.incorrect {
	color: #900;
}


div#other-weeks div#key {
	margin-top: 1.5em;
}
div#other-weeks div#key h4 {
	margin-bottom: .5em;
}
div#other-weeks div#key th,
div#other-weeks div#key td {
	padding: 2px 5px;
	font-weight: normal;
}


div.info ul {
	list-style-type: none;
	margin: .5em 0 1.5em 0;
	padding: 0;
}