html {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande";
	font-size: 12px;
	position: relative;
}

div#grid {
    height: 100%;
    width: 100%;
    background: transparent url(/static/img/grid.png) repeat-y top center;
    position: absolute;
    z-index: 1000;
    opacity: 10%;
}

body.columns div.column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
body.two.columns div.left.column,
body.three.columns div.left.column {
    width: 180px;
}

body.two.columns div.right.column {
	width: 480px;
}

body.three.columns div.middle.column {
    width: 480px;
}
body.three.columns div.right.column {
    width: 260px;
    overflow: hidden;
    margin-right: 0;
}


.header {
    color: #fff;
    position: relative;
	padding: 10px 20px;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

h1, h2, h3, h4, h5 {
    font-family: "Cooper Black", "Lucida Grande";
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#header {
	color: #fff;
	background-color: #333;
}
#header h1 {
	font-size: 3em;
}
#header h1 a {
	color: #fff;
	text-decoration: none;
}
#header #account {
	font-size: 11px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 0;
	padding: 4px 6px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .75);
}

#page-header {
    background-color: #666;
    padding-top: 8px;
    padding-bottom: 8px;
}
#page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: "Cooper Black", "Lucida Grande";
	font-weight: normal;
}
#page-header h1 label {
    font-size: .85em;
    color: #ccc;
}

div#content {
	color: #333;
    margin: 20px;
}



/* Entry pages */
div#current-week {
}

div#current-week table.games th, div#current-week table.games td {
	text-align: left;
	padding: 2px 5px;
}
div#current-week table.games th {
	padding-top: 10px;
}
div#current-week table.games td.team {
}
div#current-week table.games td.spread {
	font-size: 11px;
	color: #999;
}
div#current-week table.games td.kickoff {
	font-size: 11px;
}


div#other-weeks a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #999;
}
div#other-weeks ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div#other-weeks ol li {
    display: block;
    padding: 5px;
}
div#other-weeks ol li span {
    color: #666;
    font-size: 11px;
}
div#other-weeks ol li.current {
    background-color: #666;
}
div#other-weeks ol li.current a {
    color: #fff;
    border-color: #ccc;
}
div#other-weeks ol li.current span {
    color: #ccc;
}