html {
    background: #30240e;
}

body {
    width: 1020px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, .5) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, .5) 0 2px 4px;
}

a {
    color: #0f4488;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

div#grid {
    height: 100%;
    width: 100%;
    background: transparent url(/static/img/grid.png) repeat-y top center;
    position: absolute;
    z-index: 1000;
    opacity: 10%;
}

body.columns div.column {
    display: inline-block;
    vertical-align: top;
    /* Should be 20px, but inline-block does something weird with
    the spacing */
    margin-right: 16px;
}
body.columns div.column:last-child {
    margin-right: 0;
}
body.two.columns div.column {
    width: 480px;
}
body.three.columns div.left.column {
    width: 180px;
}
body.three.columns div.middle.column {
    width: 480px;
}
body.three.columns div.right.column {
    width: 260px;
}


#footer {
    font-size: 11px;
    color: #fff;
    background-color: #c1001d;
    padding: 10px 20px;
    margin-top: 10px;
    border-top: 1px dotted #600;
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 -2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 -2px 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 -2px 2px;
}
#footer a {
    color: #ccc;
}


.header {
    color: #fff;
    position: relative;
    padding: 15px 20px 8px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

#header {
    color: #fff;
    z-index: 500;
    border-bottom: 1px solid #030;
    /* http://www.flickr.com/photos/23178550@N08/4603091727/ */
    background: #030 url(/static/img/header-grass.jpg) top left no-repeat;
}
#header h1 {
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, .75) 2px 2px 2px;
}
#header h1 a {
    color: #fff;
    text-decoration: none;
    border: none;
}
#header #account {
    color: #333;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
    padding: 5px 10px 7px;
    background-color: rgba(255, 255, 255, 1);

    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;

    -webkit-box-shadow: rgba(0, 0, 0, .5) 0 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .5) 0 2px 2px;
    box-shadow: rgba(0, 0, 0, .5) 0 2px 2px;
}

#page-header {
    background-color: #0f4488;
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #003;
}
#page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, .25) 2px 2px 2px;
}
#page-header h1 a {
    color: #fff;
    border: none;
}
#page-header h1 label {
    font-size: .85em;
    color: #ccc;
    font-style: italic;
}


div#content {
    color: #333;
    margin: 20px;
}

h2 {
    font-size: 2em;
}

/* Entry pages */
div#current-week {
}
div#current-week h2 {
}
div#current-week h2 span {
    font-size: .75em;
    font-style: italic;
    color: #666;
}
div#current-week h2 span strong {
    font-weight: 800;
    font-size: 1.25em;
}
div#current-week p.deadline {
    margin-top: 5px;
}
div#current-week p.deadline span {
    color: #666;
    font-size: 11px;
}

div#current-week h3 {
    padding: 10px 10px 7px;
    margin: 15px 20px 15px 0;
    border: 1px dotted #ccc;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}
div#current-week h3 span.picked {
    border: 1px solid rgba(255, 200, 50, 1);
    background-color: rgba(255, 200, 50, .5);
    padding: 4px 5px 0;
}
div#current-week h3 span.not.picked {
    border: 1px solid rgba(153, 0, 0, 1);
    background-color: rgba(153, 0, 0, .4);
}

div#current-week table.games th, div#current-week table.games td {
    text-align: left;
    padding: 2px 5px;
}
div#current-week table.games th {
    padding-top: 10px;
}
div#current-week table.games td.team {
    /* avoid slight movement when the "picked" highlight changes */
    border: 1px solid white;
}
div#current-week table.games td.spread {
    font-size: 11px;
    color: #999;
    text-align: right;
}
div#current-week table.games td.spread.favorite {
    color: rgba(0,153,0,.75);
}
div#current-week table.games td.spread.underdog {
    color: rgba(153,0,0,.75);
}
div#current-week table.games td.kickoff {
    font-size: 11px;
}
div#current-week table.games td.picked {
    border: 1px solid rgba(255, 200, 50, 1);
    background-color: rgba(255, 200, 50, .5);
}


ol.weeks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol.weeks li {
    position: relative;
    display: block;
    padding: 5px;
    padding-left: 18px;
}
ol.weeks a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #999;
}
ol.weeks li span {
    color: #666;
    font-size: 11px;
}
ol.weeks li span.pick {
    color: #333;
}
ol.weeks li.current {
    border: 1px dotted #ccc;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}
ol.weeks li span.indicator {
    margin-right: 5px;
    cursor: default;
}


.indicator {
    color: #666;
    font-weight: normal;
    background-position: center left;
    background-repeat: no-repeat;
    min-height: 16px;
    padding-left: 18px;
}
.indicator.positive {
    color: #090;
    background-image: url(/static/img/icons/tick-small.png);
}
.indicator.negative {
    color: #c1001d;
    background-image: url(/static/img/icons/cross-small.png);
}
.indicator.positive.pending {
    color: #333;
    background-image: url(/static/img/icons/tick-small-pending.png);
}
.indicator.negative.pending {
    color: #333;
    background-image: url(/static/img/icons/cross-small-pending.png);
}


div#other-weeks div#key {
    margin-top: 1.5em;
}
div#other-weeks div#key h4 {
    margin-bottom: .5em;
}
div#other-weeks div#key ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


div.info ul {
    list-style-type: none;
    margin: .5em 0 1.5em 0;
    padding: 0;
}

span.invite-code {
    display: inline-block;
    font-size: 1.5em;
    font-family: monospace;
    padding: 5px 10px;
    border: 1px dotted #ccc;
    margin-top: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 0 0 4px;
    -moz-box-shadow: rgba(0, 0, 0, .15) 0 0 4px;
    box-shadow: rgba(0, 0, 0, .15) 0 0 4px;
}

a.footnote {
    border: none;
    color: #c1001d;
}
p.footnote {
    color: #666;
    font-size: 11px;
    font-style: italic;
}


div#facebook-login {
    display: inline-block;
    width: 300px;
    border: 1px dotted #ccc;
    padding: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
}
div#facebook-login p {
    margin-bottom: 0;
}
div#facebook-login a,
div#facebook-login a img {
    border: none;
    display: block;
}


.warning {
    background-color: rgba(153, 0, 0, .25);
    border: 1px dotted rgba(153, 100, 0, .5);
    padding: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, .15) 2px 2px 2px;
}

.button {
    display: inline-block;
    color: rgba(255,255,255,.9);
    background-color: #0f4488;
    padding: 10px 15px 6px 15px;
    border: none;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, .35) -1px -1px 0;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    -webkit-box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px;
}
.button span {
    color: #fff;
    font-weight: 800;
    font-style: italic;
}


/* Dashboard */
section#your-entries {
    margin: 2em 0;
}

section#your-entries ul {
    list-style-type: none;
    margin: 1em 20px 0 0;
    padding: 0;
}
section#your-entries ul li {
    display: block;
    border: 1px solid #ccc;
    margin: 10px 0;

    -webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, .25) 0 0 3px;
    box-shadow: rgba(0, 0, 0, .25) 0 0 3px;
}
section#your-entries ul li h4 {
    font-size: 1.5em;
}
section#your-entries ul li h4 a {
    display: block;
    padding: 10px 10px 6px 10px;
    border: none;
}
section#your-entries ul li h4 a:hover {
    color: #fff;
    background-color: #0f4488;
}
section#your-entries ul li p.meta {
    display: block;
    font-size: 11px;
    margin: 1px 0 0 0;
    padding: 5px 16px 3px;
    background-color: #ddd;
}