{% macro showgames(week, pick) %}
    <table class="games">
        {% for date, group in week.grouped_games %}
            <tr>
                <th class="date" colspan="5">{{ date|date('%A, %B %d') }}</th>
            </tr>
            {% for time, games in group %}
                {% for game in games %}
                    <tr>
                        <td class="kickoff">
                            {% if loop.first %}
                                {{ game.start|est|date('%I:%M') }}
                            {% endif %}
                        </td>
                        {{ showteam(game.away_team, game, pick, home=False, week=week) }}
                        <td class="at">at</td>
                        {{ showteam(game.home_team, game, pick, home=True, week=week) }}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% endmacro %}

{% macro showteam(team, game, pick, home, week) %}
    {% set picked = team == pick.team %}
    {% set tdclass = 'home' if home else 'away' %}
    <td class="team {{ tdclass }} {% if picked %}picked{% endif %}">
        <label>
            <input type="radio" name="pick" value="{{ team|id }}" {% if picked %}checked{% endif %} {% if week.closed %}disabled{% endif %}>
            {{ team }}
        </label>
    </td>
    <td class="score {{ tdclass }}">--</td>
{% endmacro %}